* { box-sizing: border-box;}


ul.nav-bar {
    font-family: 'Droid Sans', sans-serif;
	list-style-type: none; 
	margin: auto;
	width: 100%;
    padding: 32px 16px;
	overflow: hidden;
    background-color: hsla(0, 0%, 17%, 1.0);
}

ul.nav-bar li {
    float: left;
}


ul.nav-bar li a:active, a:focus {
    outline: none;
}

ul.nav-bar li a {
	display: inline-block;
	color: #F0FFFF;
	text-align: center;
	padding: 14px 16px; 	
	text-decoration: none;
	transition: 0.3s; 		
	font-size: 24px;
}

/* Change background color of links on hover */
ul.nav-bar li a:hover {
	background-color: #555;
}

ul.nav-bar li.dropdown {
    display: inline-block;
    color: #F0FFFF;
    font-size: 24px;
    padding: 14px 16px;
    text-align: center;
}

ul.nav-bar li.dropdown:hover {
    background-color: #555;
}

ul.nav-bar li.dropdown span.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: hsla(0, 0%, 17%, 1.0);
}

ul.nav-bar li.dropdown span.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

ul.nav-bar li.dropdown span.dropdown-content a:hover {
    background-color: #555;
}

ul.nav-bar li.dropdown:hover span.dropdown-content {
    display:block;
}

.usr-form {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14pt;
    padding: 14px 16px;
    border: 2px solid black;
    margin-top: 15px;
    width: 35%;
    background-color: #FAFAFA;
}


.usr-form input::after {
    display: block;
}



.usr-form input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number] {
    width: 350px;
    height: 35px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12pt;
    padding: 5px;
}

.usr-form option {
    width: 330px;
    height: 35px;
    font-family: 'Droid Sans', sans-serif;
    padding: 5px;
    font-size: 12pt;
}

.usr-form input {
    border-radius: 5px;
}

.tbl_data {
	font-family: 'Droid Sans', sans-serif;
	overflow-x: auto;
}
.tbl_data table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #020202;
}

.info_msg p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16pt;
	color: teal;
}
.info_msg h3 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 28pt;
}

.tbl_data th, td {
	border: none;
	text-align: left;
	padding: 8px;
}
.tbl_data tr:nth-child(even) {
	background-color: #F2F2F2;
}


